# Accelerate configuration for 16x A100 GPUs
compute_environment: LOCAL_MACHINE
debug: false

deepspeed_config:
  deepspeed_config_file: configs/ds_config.json
  zero3_init_flag: false

distributed_type: DEEPSPEED
downcast_bf16: 'no'

machine_rank: 0
main_process_ip: null
main_process_port: null
main_training_function: main

mixed_precision: fp16
num_machines: 1
num_processes: 16

rdzv_backend: static
same_network: true
tpu_env: []
tpu_use_cluster: false
tpu_use_sudo: false
use_cpu: false
